<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
	<uses-permission android:name="android.permission.WAKE_LOCK" />
<!-- Push通知時に端末を振動させたい場合はandroid.permission.VIBRATEを設定 -->
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
<uses-permission android:name="com.example.doing.permission.C2D_MESSAGE" />
<permission android:name="com.example.doing.permission.C2D_MESSAGE" android:protectionLevel="signature" />
<uses-permission android:name="com.example.doing.permission.C2D_MESSAGE" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/tamago"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.example.doing.MyCustomReceiver">
		<intent-filter>
		  <action android:name="com.example.UPDATE_STATUS" />
		</intent-filter>
		</receiver>
        <activity android:name="com.example.doing.MainActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--　写真画面 -->
        <activity android:name=".PictureActivity" android:label="@string/app_name">
		</activity>
		
        <service android:name="com.nifty.cloud.mb.NCMBGCMIntentService" />
		<receiver
		    android:name="com.nifty.cloud.mb.NCMBGCMBroadcastReceiver"
		    android:permission="com.google.android.c2dm.permission.SEND" >
		    <intent-filter>
		        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		        <category android:name="com.example.doing" />
		    </intent-filter>
		</receiver>
    </application>

</manifest>
